
body {
  background-color: #FFE3E0;
}

/* button styles */

.btn:focus {
  outline: none;
  box-shadow: none;
}

.btn {
  background-color: #0E1E40;
  color: white;
}

.btn:hover {
  background-color: #68C2E8;
}

#submit-ans-btn {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* titles, text and image styles */

#mainTitle {
  font-family: 'Montserrat Subrayada', sans-serif;
  font-size: 5em;
}

#equation {
  font-family: 'Comfortaa', cursive;
  font-size: 4em;
}

input[type="number"]
{
    font-size:5em;
    background-color: #7f7b8257 !important;
    border: none;
    outline: none;
    color: #68C2E8 !important;
}

#answerInput {
  height: auto;
  width: 200px;
  margin: 0 auto;
}

#answer-status {
  font-family: 'Comfortaa', cursive;
  margin-top: 1em;
}

#app-logo {
  height: 2em;
  width: 2em;
}

/* media queries for minor tweaks at smaller screen sizes */

@media only screen and (max-width: 600px) {
  #mainTitle {
    font-size: 4em;
  }

  #equation {
    font-size: 2.5em;
  }

  #app-logo {
    height: 2.5em;
    width: 2.5em;
  }
}