/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
body {
  background-color: #FFE3E0;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.btn {
  background-color: #0E1E40;
  color: white;
}

.btn:hover {
  background-color: #68C2E8;
}

#mainTitle {
  font-family: 'Montserrat Subrayada', sans-serif;
  font-size: 5em;
}

#equation {
  font-family: 'Comfortaa', cursive;
  font-size: 4em;
}

input[type="number"]
{
    font-size:5em;
    background-color: #7f7b8257 !important;
    border: none;
    outline: none;
    color: #68C2E8 !important;
}

#answerInput {
  height: auto;
  width: 200px;
  margin: 0 auto;
}

#app-logo {
  height: 5rem;
  width: 5rem;
}

#submit-ans-btn {
  margin-top: 1em;
  margin-bottom: 1em;
}
